extends Views/layouts/default.pug
append script
    script(src=require('./src/views/auth/main.js') defer='')
block variables
    - const title = 'Авторизация'

append style
    link(href=require('normalize.css') rel='stylesheet')
    link(href=require('./src/views/auth/styles.scss') rel='stylesheet')

block content
    include src/modules/header
    section
        .main
            .formWrapper
                .formLogoWrapper
                    img.formLogo(src=require('Images/logo.svg'))
                    span.formLogoText CloudStorage

                form.auth-form(class='')
                    input.auth-input(placeholder='Username or E-mail' maxlength="50" name="form-name" type="text")
                    input.auth-input(placeholder='Password' maxlength="50" name="form-name" type="text")
                    button.formSubmit Войти
                    .form-links
                        a(href='forgot.html') Забыли пароль?
                        a(href='signup.html') Регистрация
                    .form-social
                        span.form-socialText Войти через:
                        .form-iconsWrapper
                            a(href='#')
                                img.form-socialIcons(src=require('Images/icons/Google.svg'))
                            a(href='#')
                                img.form-socialIcons(src=require('Images/icons/github.svg'))
                            a(href='#')
                                img.form-socialIcons(src=require('Images/icons/telegram.svg'))
